@{
	ViewBag.Title = "Home Page";
}


<div class="row" style="margin:5rem 0">
	<div class="col-md-6">
		<h4>Run Identity</h4>
		<p><button class="btn btn-default" id="opensite">Open id.gov.ua</button></p>
	</div>
	<div class="col-md-6">
		<h4>Process Identity</h4>
		<p>
			<div class="form-group" style="width:100%">
				<label >url</label>
				<input class="form-control" id="url"/>
			</div>
		</p>
		<p><button class="btn btn-default" id="process">Process url</button></p>
	</div>
</div>


@section scripts {
	<script type="text/javascript">
		(function () {
			$("#opensite").click(async function () {
				let r = await fetch("/home/geturl", {method:'POST'});
				let result = await r.json();
				if (result.status === 'success')
					window.open(result.url);
				else
					alert(result.msg);
			});

			$("#process").click(async function () {
				var url = $("#url").val();
				let prms = { url: url };
				let r = await fetch("/home/processurl", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(prms)
				});
				let result = await r.json();
				alert(JSON.stringify(result));
			});
		})();
	</script>
}